<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/events" method="POST">
      <input type="text" placeholder="Enter event name" name="eventName" />
      <br />
      <textarea
        name="eventDescription"
        id=""
        cols="30"
        rows="10"
        placeholder="Enter description of event including dates at the end"
      >
      </textarea>
      <br />
      <input
        type="text"
        placeholder="Enter duration of event"
        name="duration"
      />
      <br />
      <input
        type="datetime-local"
        name="dateTime"
        placeholder="Starting Time of event"
      />
      <br />
      <input
        type="datetime-local"
        name="dateTimeEnding"
        placeholder="Ending Time of event"
      />

      <input
        type="text"
        placeholder="Enter link of image of event"
        name="image"
      />
      <input type="submit" />
    </form>
  </body>
</html>
